{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "max-len": 0,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
