/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
.csm-progressbar-icon-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}
.csm-progressbar-icon-wrapper .csm-icon {
  height: 100%;
  position: absolute;
  width: 100%;
  background: transparent;
  transition: transform  0.5s ease 0s;
  left: 0px;
  border-radius: 50%;
  top: 0;
}
.csm-progressbar-icon-wrapper .csm-icon  span {
  height: 30px;
  margin: -6px;
  padding: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 57%;
  position: absolute;
  width: 30px;
  z-index: 99999;
  left: 50%;
  transform: rotate(0);          
  top: 0;
  border-radius: 50%;
  background-color: #f66;
  transition: transform  0.5s ease 0s;
  box-shadow: 0 0 15px rgba(140, 140, 140, 0.5);
} 
.csm-progressbar-icon-wrapper.incomplete .csm-icon  span{
  background-color: #f66;
}
.csm-progressbar-icon-wrapper.complete .csm-icon  span{
  background-color: #99f;
}