/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3c3;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s ease 0s, stroke 0.6s ease;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}
