/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar.low .CircularProgressbar-path {
  stroke: #00f;
}
.CircularProgressbar.low .CircularProgressbar-text {
  fill: #00f;
}
.CircularProgressbar.low .CircularProgressbar-path {
  stroke: #f00;
}
.CircularProgressbar.high .CircularProgressbar-text {
  fill: #f00;
}
